source https://www.nuget.org/api/v2
nuget Deedle
nuget Deedle.Math
nuget Deedle.RPlugin
nuget FSharp.Charting
nuget FSharp.Collections.ParallelSeq
nuget MathNet.Numerics
nuget NLOG
nuget python
nuget RProvider
nuget xunit
nuget xunit.runner.console
nuget xunit.runner.visualstudio